lastupdate.tmp
.vscode/
init.sql
routers/commentsRouter____src_github_com_udistrital_usuario_rol_crud_controllers.go
udistrital
coverage.out
.scannerwork/


# Swagger
swagger/**
swagger.zip
swagger/favicon-16x16.png
swagger/favicon-32x32.png
swagger/index.html
swagger/oauth2-redirect.html
swagger/swagger-ui-bundle.js
swagger/swagger-ui-bundle.js.map
swagger/swagger-ui-standalone-preset.js
swagger/swagger-ui-standalone-preset.js.map
swagger/swagger-ui.css
swagger/swagger-ui.css.map
swagger/swagger-ui.js
swagger/swagger-ui.js.map
!swagger/swagger.json
!swagger/swagger.yml

# IDE
.idea

# Executables
usuario_rol_crud*
historico_usuarios_roles_crud*
main